<%- include("../common/header", { title: title, user: user }) %>

<!-- Page heading -->
<h2>Change Password</h2>

<% if (error) { %>
  <p><%= error %></p>
<% } %>

<!-- Change password form -->
<!-- Submitting this form sends a POST request to /change-password -->
<form action="/change-password" method="POST">
  <label>Old Password:</label>
  <br>
  <input type="password" name="oldPassword" required>
  <br><br>

  <label>New Password:</label>
  <br>
  <input type="password" name="newPassword" required>
  <br><br>

  <label>Confirm New Password:</label>
  <br>
  <input type="password" name="confirmPassword" required>
  <br><br>
  <button type="submit">Change Password</button>
</form>

</main>
</body>
</html>