<%- include('../common/header', { title: 'Login' }) %>

<!-- Page heading -->
<h2>Login</h2>

<!-- Login form -->
<!-- Submitting this form sends a POST request to /login -->
<form action="/login" method="POST">
    <label>Username</label>
    <br>
    <input type="text" name="username" value="<%= username %>" required>
    <br><br>
    <label>Password</label>
    <br>
    <input type="password" name="password" required>

    <% if(error) { %>
        <p><%= error %></p>
    <% } %>
    <br><br>
    <button type="submit">Login</button>
</form>

<!-- Link to registration for users without an account -->
<p>Don't have an account? <a href="/register">Register here</a></p>
