<%- include('../common/header', { title: 'Register' }) %>

<!-- Page heading -->
<h2>Register</h2>

<% if (error) { %>
  <p><%= error %></p>
<% } %>

<!-- Registration form -->
<!-- Submitting this form sends a POST request to /register -->
<form action="/register" method="POST" >
  <label for="username">Username:</label>
  <br>
  <input type="text" name="username" value="<%= username %>" required>
  <br><br>
  <label for="password">Password:</label>
  <br>
  <input type="password" name="password" required>
  <br><br>
  <button type="submit">Register</button>
</form>

<!-- Link back to login for existing users -->
<p>Already have an account? <a href="/login">Login here</a></p>


</main>
</body>
</html>
