<%- include("common/header", { title: title, user: user }) %>

<h2>Change Password</h2>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<% if (success) { %>
  <p style="color: green;"><%= success %></p>
  <script>
    // Wait 1.5 seconds, then redirect to login
    // Gives time for user to know that password has been changed successfully.
    setTimeout(() => {
      window.location.href = "/login";
    }, 1500);
  </script>
<% } %>

<form action="/change-password" method="POST">
  <label>Old Password:</label>
  <input type="password" name="oldPassword" required>

  <label>New Password:</label>
  <input type="password" name="newPassword" required>

  <label>Confirm New Password:</label>
  <input type="password" name="confirmPassword" required>

  <button type="submit">Change Password</button>
</form>

</body>
</html>