<%- include("common/header", { title: title }) %>

<!-- Display logged-in user's username -->
<h2>Welcome <%= user.username %>!</h2>

<h3>Your Playlists:</h3>

<% if (playlists.length === 0) { %>
  <!-- If user has no playlists -->
  <p>You have no playlists yet. <a href="/playlists/add">Create one</a></p>
<% } else { %>
  <!-- If playlists exist, list them -->
  <ul>
    <% playlists.forEach(playlist => { %>
      <li>
        <!-- Getting the playlists from listPlaylists in controller -->
        <a href="/playlists/view?id=<%= playlist._id %>"><%= playlist.name %></a>
      </li>
    <% }) %>
  </ul>
<% } %>

</body>
</html>